* {
  box-sizing: border-box;
  }

body {
margin: 0;
font-family: Arial, sans-serif;
background: rgb(241, 141, 46);
color: black;
}

header {
width: 90%;
margin: 20px auto;
padding: 12px;
background: white;
border: 1px solid #942525;
display: flex;
align-items: center;
border-radius: 6px;
}

.logo {
width: 180px;
height: 70px;
object-fit: contain;
}

nav {
display: flex;
gap: 25px;
margin-left: auto;
}

nav a {
text-decoration: none;
color: #333;
}

nav a:hover {
color: blue;
}

.active {
color: blue;
text-decoration: underline;
}

main {
width: 90%;
margin: auto;
}

.section {
background: white;
padding: 15px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 6px;
}

.section h2 {
margin-top: 0;
}

.banner-img {
width: 100%;
height: 260px;
object-fit: cover;
border-radius: 5px;
}

.section p {
line-height: 1.6;
}

.about {
display: flex;
gap: 20px;
align-items: center;
}

.about img {
width: 40%;
height: 220px;
object-fit: cover;
border-radius: 5px;
}

.about div {
flex: 1;
}

.dishes {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
}

.card {
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
background: rgb(255, 255, 255);
}

.card img {
width: 100%;
height: 160px;
object-fit: cover;
border-radius: 5px;
}

.card h3 {
margin-bottom: 5px;
}

.card p {
line-height: 1.5;
font-size: 14px;
}

.desc-btn {
width: 100%;
padding: 8px;
border: none;
background: #f0f0f0;
cursor: pointer;
border-radius: 4px;
}

.desc-btn:hover {
background: #ddd;
}

.description {
max-height: 0;
overflow: hidden;
opacity: 0;
transition: 0.5s;
}

.description.show {
max-height: 150px;
opacity: 1;
}

.tip {
background: white;
border: 1px solid #ccc;
padding: 15px;
margin-bottom: 15px;
text-align: center;
border-radius: 6px;
}

footer {
width: 90%;
margin: auto;
background: rgb(37, 34, 226);
border: 1px solid #ccc;
padding: 15px;
text-align: center;
font-size: 13px;
}

.food-info {
display: none;
margin-top: 15px;
padding: 15px;
background: rgb(4, 1, 17);
border: 1px solid #e9dfdf;
border-radius: 6px;
}

.food-info h3 {
margin-top: 0;
}
